
// sidebar-color
$sidebar : $light !default;
$brand : $light !default;
$brand-text : $gray-600 !default;
$sidenav-text: $gray-600 !default;
$sidenav-text: $gray-800 !default;
$sidenav-text-active: $base-color !default;
$sidenav-active: $base-color !default;
$header-nav:$base-color;

// navbar color
$navbar: $gray-700 !default;
